@*@model IEnumerable<ConceptArchitect.BookManagement.Author>
*@
@using ConceptArchitect.BookManagement
@model dynamic


<partial name="AuthorInfo" for="@Model" />
<br />
<h3>
    <a asp-controller="book" asp-action="booksbyauthor" asp-route-id="@Model.Id">Books By @Model.Name</a>
</h3>