
 <h1>Wecome to Ecolab Home</h1>

   
  <p>Today is <strong>@Model.ToLongDateString()</strong></p>
  <p>Time now is <strong>@Model.ToLongTimeString()</strong></p>

    
  @section PageTitle{
      Date Server
  }
