
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Wecome to Ecolab Home</h1>

   
    <p>Today is <strong>@Model.ToLongDateString()</strong></p>
    <p>Time now is <strong>@Model.ToLongTimeString()</strong></p>

    

</body>
</html>