@{
    ViewData["Title"] = "Home Page";
}
<style>
    html {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url(https://mymodernmet.com/wp/wp-content/uploads/2020/03/national-emergency-library-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, sans-serif;
    }

</style>
<div style="padding:50px">
        <center>
            <h2 style="color:azure">Welcome to Book Management Application</h2>
        </center>
</div>
